<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds"> <!--설정갱신-->
    <!--스프링 프로파일별 개별 프로퍼티 구성시 설정(필요시사용)
    <springProfile name="local">
    <property resource="logback-local.properties"/>
    </springProfile>
    <springProfile name="dev">
    <property resource="logback-dev.properties"/>
    </springProfile-->

    <springProperty scope="context" name="root_log_level" source="logging.level.root"/>

    <property name="base_log_path" value="c:/log/logback"/>
    <property name="default_log_max_history" value="30"/>
    <property name="default_log_max_filesize" value="10MB"/>
    <property name="default_log_pattern"
              value="%-5level %d{yy-MM-dd HH:mm:ss}[%thread] [%logger{0}.%method:%line] - %msg%n"/>

    <!-- Console Appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${default_log_pattern}</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="service" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${base_log_path}/service/service.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${default_log_pattern}</pattern>
        </encoder>

        <!-- Rolling 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- .gz,.zip 등을 넣으면 자동 일자별 로그파일 압축 -->
            <fileNamePattern>
                ${base_log_path}/service/service.%d{yyyy-MM-dd}_%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${default_log_max_filesize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${default_log_max_history}</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <file>${base_log_path}/error/error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${default_log_pattern}</pattern>
        </encoder>

        <!-- Rolling 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- .gz,.zip 등을 넣으면 자동 일자별 로그파일 압축 -->
            <fileNamePattern>
                ${base_log_path}/error/error.%d{yyyy-MM-dd}_%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${default_log_max_filesize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${default_log_max_history}</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="systemStart" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="com.sptek.webfw.config.log.LogbackKeywordFilterForXXX"/>

        <file>${base_log_path}/systemStart/systemStart.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${default_log_pattern}</pattern>
        </encoder>

        <!-- Rolling 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- .gz,.zip 등을 넣으면 자동 일자별 로그파일 압축 -->
            <fileNamePattern>
                ${base_log_path}/systemStart/systemStart.%d{yyyy-MM-dd}_%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${default_log_max_filesize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${default_log_max_history}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- root레벨 설정 -->
    <root level="${root_log_level}">
        <appender-ref ref="console"/>
        <appender-ref ref="service"/>
        <appender-ref ref="error"/>
        <appender-ref ref="systemStart"/>
    </root>

</configuration>
